version: '{build}'
os: Windows Server 2012

environment:
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk11

install:
  - cmd: java -version
build_script:
  - cmd: mvn package --settings mvnsettings.xml -DOTN_USERNAME=%OTN_USERNAME% -DOTN_PASSWORD=%OTN_PASSWORD%
test: off
cache:
  - C:\Users\appveyor\.m2\ -> pom.xml
artifacts:
  - path: target/*.jar
